{% extends 'StudentDashBoard/base_template.html' %}

{% block header %}
<h1> {{user.username}} Page</h1>
{% endblock header %}
<!--A lot of logic is handled here. It needs to be pushed back to the backend for easier translation in the event of movement to a different frontend setup-->
{% block content %}
<div id="ClassWorkList" class="workList">

    {% for lesson in lessons %}
    <div class="WorkListSpacing">
        <a href="{% url 'classWork' lesson.id %}">{{lesson.lessonName}}</a>
        <a target="_blank" href="{{lesson.sourceURL}}">ClassWork Link </a>
        {% for classwork in classworks %}
        {% if classwork.lesson == lesson %}
        {{classwork.grade}}/{{lesson.possiblePoints}}
        {% if classwork.repoWithStudentsWork != '' %}
        <a target="_blank" href="{{classwork.repoWithStudentsWork}}">Submitted Work</a>
        {% else %}
        <form action="{% url 'addWork' classwork.id %}" method="post">{% csrf_token %} <input name="repoToSave"
                                                                                              placeholder="Insert link to work here"
                                                                                              type="text">
            <button>Submit</button>
        </form>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div id="ProjectList" class="workList">
    {% for project in projects %}
    <div class="WorkListSpacing">
        <a href="{% url 'classWork' project.id %}">{{project.lessonName}}</a>
        <a target="_blank" href="{{project.sourceURL}}">Project Link</a>
        {% for classwork in classworks %}
        {% if classwork.lesson == project %}
        {{classwork.grade}}/{{project.possiblePoints}}
        {% if classwork.repoWithStudentsWork != '' %}
        <a target="_blank" href="{{classwork.repoWithStudentsWork}}">Submitted Work</a>
        {% else %}
        <form action="{% url 'addWork' classwork.id %}" method="post"> {% csrf_token %}<input name="repoToSave"
                                                                                              placeholder="Insert link to work here"
                                                                                              type="text">
            <button>Submit</button>
        </form>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %}