{% extends 'StudentDashBoard/base_template.html' %}

{% block header %}
<h1>Login Page</h1>
{% endblock header %}

{% block content %}
{% if form.errors %}
<h3>Your username or password is incorrect</h3>
{{ form.errors }}
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <p>{{ form.username.label_tag }}</p>
    <p>{{ form.username }}</p>
    <p>{{ form.password.label_tag }}</p>
    <p>{{ form.password }}</p>
    <button>Submit</button>
</form>
{% endblock content %}

