body
{
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 1%;
}
a{
    padding-right: 1%;
    text-decoration: none;
    margin: 1% 0 1% 0;
    color: cornflowerblue;
}
/*workList refers to both the Classwork collection and the Project collection on each students page. */
.workList
{
    /*ToDo fix the height to not be a pixel amount. Currently fixed to enable scrolling if percentage is used causes the box to grow to fit all information into it without scroll*/
    /*height: 300px;*/
    height: max-content;
    background-color: lightgray;
    overflow-y: scroll;
    /*margin: 2%;*/
    /*max-height: fit-content;*/
}
#ClassWorkList
{
    grid-column: 1/4;
    grid-row: 1/5;
}
#ProjectList
{
    grid-column: 1/4;
    grid-row: 5/9;
}
.WorkListSpacing
{
    max-height: 20%;
    display: grid;
    /*text-align: center;*/
    grid-template-columns: repeat(4,1fr);
    background-color: darkgray;
    padding: 1% 0 1% 0;
}
.WorkListSpacing a
{
    color: black;
    margin: 1% 0 1% 0;
    text-decoration: none;
}
.WorkListSpacing a:hover
{
    color: whitesmoke;
}
#gridContainer
{
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(6,1fr) ;
    grid-template-rows: repeat(8,1fr);

}
.listHeader
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}